.butt{
    padding: 50px;
   border: solid black;
    border-radius: 5px;
    margin-top: 50px;
}
.box{
    margin-top: 350px;
    margin-right:450px;
    margin-left: 450px;
}
#r{
    background: red;
}
#y{
    background: yellow;
}
#p{
    background: pink;
}
#o{
    background: orange;
}
h1{
  margin-left: 450px;
}