input{
    align-items: center;
    font-size: small;
}
.input{
    margin-top: 10px;
}
button{
    margin-top: 20px;
    margin-left: 30px;
}
body{
    background-color: pink;
}
#result{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}